.contactlist {
  animation: appear 3s;
}

.contactlist > ul {
  font-size: 1.4em;
  gap: 10px;
}

.contactlist > ul > li {
  margin-bottom: 40px;
}

.contactlist a,
.contactlist a:visited {
  color: var(--light);
}

.contact-info {
  margin: 60px 0 0 40px;
}

@media screen and (min-width: 850px) {
  .contactlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info links";
  }

  .contactlist > ul {
    grid-area: links;
  }

  .contact-info {
    grid-area: info;
  }
}
