:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  --dark: #1f1f1f;
  --light: rgb(246,246,246);
  --mid: rgb(136, 136, 136);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-size: 2em;
  line-height: 1em;
}

h2 {
  color: var(--mid);
}

h1, h2, p {
  font-weight: 350;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

q:before,q:after{content:''}

.quote {
  margin: 20px 0 40px 20px;
  display: inline-block;
}

.quote > q {
 font-size: 1.2em;
}

.quote > q > p::first-letter {
  font-size: 1.6em;
}

.quote > p {
  color: var(--mid);
  font-size: 0.8em
}

@keyframes appear {
  from {
opacity: 0; }
  to {
    opacity: 1;
} }