nav {
  position: fixed;
  bottom: 1em;
  margin-left: calc(50vw - 170px);
  width: 340px;
}

nav > ul {
  display: flex;
  height: 3em;
  padding: 4px 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: var(--light);
  opacity: 0.88;
  border-radius: 5px;
  font-size: 0.8em;
  box-shadow: var(--dark) 0px 1px 4px 0px;
}

.navlink {
  color: var(--dark);
  }

.navlink:visited {
  color: var(--dark);
  }